mixin modal()
    .overlay
    .modal
        button.modal__closeButton Close
        .modal__guts
            .modal__guts_title Enter title
            textarea.modal__guts_inputTitle
            .modal__guts_content Enter content
            textarea.modal__guts_inputContent
            button.modal__guts_submit Submit

    button.openButton Add article
    
