mixin gutsAddArticle()
	.gutsAddArticle
		.gutsAddArticle__title Enter title
		textarea.gutsAddArticle__inputTitle
		.gutsAddArticle__content Enter content
		textarea.gutsAddArticle__inputContent
		button.gutsAddArticle__submit Submit