include ./header/header
include ./footer/footer
include ./menu/menu
include ./article/article
include ./modal/modal


- var data = require('./data.json');

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="main.css")

    body
        .grid
            .grid__header
                +header()
            .grid__menu
                +menu()
                +modal()
            .grid__article
                +article()
            .grid__footer
                +footer()

        //- each article in data.articles
        //-     h1= article.title
        //-     div= article.content
        //-     if article.image != ""
        //-         img(src= `/img/${article.image}`)

            
        script(src="main.js")