include ../gutsAddArticle/gutsAddArticle

mixin modalAddArticle()
    .overlayAddArticle
    .modalAddArticle
        button.modalAddArticle__closeButton Close
        .modalAddArticle__guts
            +gutsAddArticle()
    button.openButtonAddArticle Add article
    
